{% extends "base.html" %}
{% from "listinc.html" import clickstats %}

<!-- {% set username = getSSOUsername() %} -->

{% block title %}{% if L.linkid == 0 %}Add Link{% else %}Edit go link #{{ L.linkid }}{% endif %}{% endblock title %}
{% block keyword %}{% if L.linkid %}_edit_/{{ L.linkid }}{% else %}_add_{% endif %}{% endblock keyword %}

{% block body %}
<div class="row-fluid">

<div class="column span6">

  {% if L.linkid != 0 %}
  <a class="pull-right" style="margin-right: .25em;" href="/_delete_/{{ L.linkid }}?returnto={{ returnto }}">DELETE</a>
  {% endif %}

<div class="inner">
 <form action="/_modify_" method="POST">
  {% if returnto %}
    <input type="hidden" name="returnto" value="{{ returnto|escapekeyword }}"/>
  {% endif %}

  {% if L.linkid != 0 %}
    <input type="hidden" name="linkid" value="{{ L.linkid }}"/>
  {% endif %}

  <table class="table linkedit">
    {% if error %}
    <tr>
    <td colspan="3"><h4 class="alert">{{ error }}</h4></td>
    </tr>
    {% endif %}

    <tr>
      <td>Title</td>
      <td>
        <input type="text" name="title" maxlength="140" size="50" value="{{ title or L.title }}"/>
      </td>
      <td class="help"></td>
    </tr>

    <tr>
      <td>URL</td>
      <td>
        <textarea name="url" rows="4" cols="50">{{ url or L._url }}</textarea>
      </td>
    </tr>

   <tr>
     <td>Lists</td>
     <td>
     {% set listnames = L.listnames() or list(lists) %}
      {% for t in listnames %}
      {% set K = g_db.getList(t, create=False) %}
      {% set flDirect = K and K.goesDirectlyTo(L) %}
       <input type="checkbox" name="lists" checked="checked" value="{{ t }}">
       <a href="/.{{ t|escapekeyword }}">
       {% if flDirect %}<b>{% else %}<i>{% endif %}
       {{ t }}
       {% if flDirect %}</b>{% else %}</i>{% endif %}
       </a></input>
       <br/>
      {% endfor %}
      add to: <input type="text" name="otherlists" value="{{ otherlists }}"/> <i>(space-separated)</i>
     </td>
   </tr>

   <tr>
     <td/>
     <td>
         <input type="submit" value="Submit Link"/>
     </td>
   </tr>
  </table>
 </form>
</div>
</div> {# end inner #}

<div class="column span6">
<div class="inner">
      {% include "vartable.html" %}
<p>also see <a href="http://docs.python.org/2/library/string.html#format-specification-mini-language">Python Format Syntax</a> for variable formatting
and <a href="http://docs.python.org/library/re.html#regular-expression-syntax">Python Regex Syntax</a> for regexes
</div>
</div>

</div>

{{ clickstats(L) }}

<br/>edits:
{% for editTime, editor in L.edits %}
<br/>&mdash;&nbsp;{{ editTime|time_t }} by {{ editor }}
{% endfor %}

{% endblock body %}
