a { text-decoration: none; }
a:hover {
    color: red;
    text-decoration: none;
    opacity: 1.0 !important;
}


.link {
    overflow: hidden;
}
.cloudli {
  float: left;
  margin-left: .5em;
  margin-top: .25em;
}

.center { text-align: center; }
.fineprint {
    font-size: 75%;
}

table.table { margin-bottom: 10px; }
td {
  white-space: normal !important;
}

table.shallow td { padding: 4px; }*/

.link div.shallow { min-height: 0px }

.linkedit td:first-child {
    font-weight: bold;
}

.column .inner {
    margin: .5em;
}

.linkedit td input[name="example"], .linkedit td input[name="otherlists"] {
    width: 12em;
}

.linkedit input[type="text"], .linkedit textarea {
    width: 85%;
}

.linkedit input[type="checkbox"] {
    margin-right: .5em;
    vertical-align: top;
}

.help tr.topic > td:first-child {
    text-align: center;
    width: 10%;
}

.help tr.topic > td {
    padding: 1em;

}

table td .red {
    background-color: red
}
