{% extends "base.html" %}

<!-- {% set username = getSSOUsername(False) %} -->

{% from "listinc.html" import renderlink, clickstats with context %}

{% block titlekeyword %}{{ keyword }}{% endblock %}
{% block keyword %}{{ keyword }}{% endblock %}

{% block body %}

<div class="row">

<h3 class="center">{{ L.name }}</h3>
  <div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">

  <table class="table table-striped">
  {% if L %}
  <tr>
  <td colspan="3">
    <form action="/_setbehavior_" style="margin: 0; text-align: center;">
    <input type="hidden" name="keyword" value="{{ keyword }}"/>
    <b><a href="/{{ keyword|escapekeyword }}">go/{{ keyword }}</a></b> redirects to
    <select name="behavior" {% if not username %}disabled="true"{% endif %}>
       <option value="list" {% if L.mode == "list" %}selected{% endif %}>this list of links</option>
       <option value="freshest" {% if L.mode == "freshest" %}selected{% endif %}>the freshest link</option>
       <option value="top" {% if L.mode == "top" %}selected{% endif %}>the most used link</option>
       <option value="random" {% if L.mode == "random" %}selected{% endif %}>a random link</option>
       {% for link in popularLinks %}
           <option value="{{ link.linkid }}" {% if L.mode == str(link.linkid) %}selected{% endif %}>{{ link.title or link.mode }}</option>
       {% endfor %}
     </select>
     {% if username %}
     <button class="btn btn-primary btn-sm" type="submit" value="Change Behavior">Change Behavior</button>
     {% endif %}
    </form>
    </td>
    </tr>
    <!-- todo need count of links -->
    {% endif %}
    <tr>
    <td colspan="3">
    <h4 class="center">
  {% if username %}
    <a class="center" href="/_add_?ll={{ keyword|escapekeyword }}">Add new link</a>
  {% else %}
    <a href="/_login_?redirect={{ getCurrentEditableUrlQuoted() }}">Login to edit this list</a>
  {% endif %}
  </h4>
    </td>
  </tr>

  {% for idx, link in enumerate(popularLinks): %}
      {{ renderlink(idx+1, link, username) }}
  {% else %}
      <tr>
      <td><h4 class="center">No links for this keyword.</h4>
      </td>
      </tr>
  {% endfor %}
  </table>
  </div>
  </div>

  </div>

{{ clickstats(L) }}
{% endblock body %}
