{% macro editlink(link, username) -%}
    <div class="pull-right">
      <a
    {% if link.edits %}
      {% set lastEditTime, lastEditName = link.lastEdit() %}
      title="edited {{ lastEditTime|time_t }} by {{ lastEditName }}"
    {% else %}
      title="edit"
    {% endif %}
    href="/_edit_/{{ link.linkid }}{% if username %}?returnto={{ keyword }}{% endif %}"><span class="glyphicon glyphicon-edit"></span></a>
    </div>
{%- endmacro %}

{% macro clickstats(L) -%}
{% if L.clicks %}
<div style="padding-top: 1em; clear: both;">
    <p>{{ L.clickinfo() }}</p>
</div>
{% endif %}
{%- endmacro %}

{% macro renderlink(idx, link, username) -%}
<tr>
<td>
<b>
 <a title="{{ link.clickinfo() }}" class="pull-left fineprint" style="width: 1em;">#{% if idx > 0 %}{{ idx }}{% else %}&nbsp;{% endif %}</a>
 </b>
 <div class="row link" id="{{ link.linkid }}">
  <div class="shallow">

       {% set usage = link.usage() %}
    <a title="{{ link._url }}" href="{{ link.url() }}">
      <div class="shallow example col-md-4">
       {% if usage != "" %}
         <b>go/{{ usage }}</b>
       {% else %}
         &nbsp;
       {% endif %}
      </div>

      <div class="shallow col-md-8">{{ link.title or link._url|truncate(80, True) }}</div>
    </a>
  </div>
    <div class="fineprint shallow meta text">
      {% for K in link.lists if K.name and K.usage() != usage: %}
      {% set flDirect = K.goesDirectlyTo(link) %}
      <a href="/.{{ K.name|escapekeyword }}" title="{{ K.clickinfo() }}">{% if flDirect %}<b>{{ K.usage() }}</b>{% else %}<i>{{ K.usage() }}</i>{% endif %}</a>
      {% endfor %}
    </div>


</div>
</td>
  <td>{{ editlink(link, username) }}</td>
</tr>
{%- endmacro %}

