{% extends "base.html" %}

{% from "listinc.html" import renderlink with context %}
{% set username = getSSOUsername(False) %}

{% block keyword %}toplinks{% endblock keyword %}
{% block title %}Top {{ n }} go/ Links{% endblock title %}

{% block body %}

<div class="row">
<h3 class="center">Top {{ n }} Links</h3>
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">
<table class="table table-striped">
  {% for link in topLinks: %}
    {{ renderlink(topLinks.index(link) + 1, link, username) }}
  {% endfor %}
</table>
</div>
</div>
</div>
{% endblock body %}

