<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en"><head>
<title>{% block title %}go/{% block titlekeyword %}{% endblock titlekeyword %}{% endblock title %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/go.css" media="screen"/>
<link rel="shortcut icon" href="{{cfg_urlFavicon}}" />

</head>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-4">
<h3><a href="/" title="Redirector home">go</a>/{% block keyword %}{% endblock %}</h3>
</div>

<div class="col-md-4 pull-right">
<a class="pull-right" href="/help">go/help</a>
<br/>
<form action="/search">
<input type="hidden" size="24" value="fulltext search currently disabled" readonly="true"/>
{% if username %}
<a class="pull-right" href="/{{ username }}">logged in as {{ username }}</a>
{% else %}
<a class="pull-right" href="/_login_?redirect={{ getCurrentEditableUrlQuoted() }}">login</a>
{% endif %}
</form>
</div>

</div>
{% block body %}

{% endblock body %}

<hr style="clear:both;"/>
    {# If cfg_contactEmail exists and is not "None" then display it #}
    {% if cfg_contactEmail is defined and cfg_contactEmail != None and cfg_contactEmail != "None" %}
<p>Problems, questions, suggestions? <a href="mailto:{{ cfg_contactEmail }}">email {{ cfg_contactName }}</a>.</p>
    {% endif %}

    {# If cfg_customDocs exists and is not "None" then display it #}
    {% if cfg_customDocs is defined and cfg_customDocs != None and cfg_customDocs != "None" %}
<div>
<a href="{{cfg_customDocs}}">GO redirector information page</a>
</div>
    {% endif %}
</div>

</body>
</html>
