{% extends "base.html" %}

{% set username = getSSOUsername(False) %}

{% from "listinc.html" import renderlink %}

{% block keyword %}<form style="display: inline;" action="/"><input type="text" name="keyword" size="12" value=""/></form>{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">

<table class="table table-striped">
<tr><td colspan="3"><h4 class="center"><a href="/special">Special Cases</a></h4></td></tr>
{% for link in folderLinks[:15]: %}
    {{ renderlink(folderLinks.index(link) + 1, link, username) }}
{% endfor %}
</table>
</div>
</div>

<div class="col-md-6">
<div class="panel panel-default">

<table class="table table-striped">
<tr><td colspan="3"><h4 class="center"><a href="/toplinks?n=100">Recent Top Links</a></h4></td></tr>
<!-- Check to see if topLinks is empty (new database) -->
{% if topLinks %}
    {% for link in topLinks %}
    {% if link.no_clicks > 0 %}
        {{ renderlink(topLinks.index(link)+1, link, username) }}
    {% endif %}
    {% endfor %}
{% endif %}
</table>
</div>
</div>

</div>

<h4>Lists used in last 30 days</h4>
<div>
  {% for LL in allLists %}
  <!-- LL.opacity(now) -->
  <div class="cloudli">
    <a style="opacity: {{ opacity(LL) }};"
       href="/.{{ LL.name|escapekeyword }}"
       title="{{ LL.no_clicks }}">go/{{ LL.name }}{% if len(LL.links) > 1 %}({{ len(LL.links) }}){% endif %}</a>
</div>
{% endfor %}
</div>

{% endblock body %}
