<form action="/_override_vars_">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th><a href="/variables">Variables</a></th>
      <th>Replace with</th>
      <th><button class="btn btn-primary btn-sm" type="submit" value="Save Local Overrides"/>Save Local Overrides</button></th>
    </tr>
    </thead>
    <tbody>

    {% if regexedit == "regex" %}
    <tr>
      <td><code>{0}</code></td>
      <td>full regex match</td>
    </tr>
    <tr>
      <td><code>{<i>n</i>}</code></td>
      <td>regex match group &lt;n&gt;</td>
    </tr>
    {% endif %}

    <tr>
      <td><code>{*}</code></td>
      <td>everything following <code>go/keyword/</code></td>
    </tr>


    </tbody>
  </table>
</form>
